<div class="ink-grid vspace">
  <h1>Wahlkreissieger <%= @wahl %></h1>
<div class="column-group">
    <div class="large-100 medium-100 small-100">

   <table class="ink-table bordered">
    <tr>
      <th>Wahlkreis Nummer</th>
      <th>Gewinner Erststimmen</th>
      <th>Gewinner Zweitstimmen</th>
    </tr>
    <% @wahlergebnis.each do |ergebnis| %>
    <tr>
      <td><%= link_to ergebnis[0], "/wkuebersicht/" + ergebnis[0]  %></td>
      <td><%= ergebnis[1] %></td>
      <td><%= ergebnis[2] %></td>
    </tr>
    <% end %>
  </table>
        </div>
    </div>
</div>  