<div class="large-80 medium-80 small-80">

<h4>MDBs bei der Wahl <%= @wahl %></h4>

<table class="ink-table bordered alternating hover">
    <tr>
      <th>Partei</th>
      <th>Bundesland</th>
      <th>Name</th>
      <th>Wahlkreis</th>
      <th>Listenplatz</th>

    </tr>
    <% @MDBs.each do |row| %>
    <tr>
      <td><%= row[0] %></td>
      <td><%= row[1] %></td>
      <td><%= row[4] %></td>
      <td><%= row[2] %></td>
      <td><%= row[3] %></td>
    </tr>
    <% end %>
  </table>

<p>&nbsp;</p>
</div></div>
