<h1>Wahllokal anlegen</h1>

  <%= form_for(:wahllokal, :url => {:controller => 'wahllokal', :action => 'create'}, :html => { :class => "ink-form"} ) do |f| %>
  <% if @wahllokal.errors.any? %>
    <div class="error_messages">
      <h2>Fehler bei der Anmeldung</h2>
      <ul>
        <% for message in @wahllokal.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :wahlkreis %><br>
    <%= f.select :wahlkreis_id, options_for_select(Wahlkreis.all.map{|s|[s.id.to_s + ' - ' + s.name, s.id]}) %>
  </div>
  <div class="field">
    <%= f.label :wahlleiter %><br>
    <%= f.text_field :wahlleiter %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br>
    <%= f.text_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
