<h1>Stimmrecht erteilen</h1>



	<% if @stimmrecht %>

		<% if @stimmrecht.errors.any? %>
		<div class="error_messages">
		<h2>Fehler bei der Anmeldung</h2>
		<ul>
		<% for message in @stimmrecht.errors.full_messages %>
		<li><%= message %></li>
		<% end %>
		</ul>
		</div>
		<% end %>

	
  		<h3>Erzeugtes Stimmrecht:</h3>
  		<p><strong>One-Time Password:</strong> <%= @stimmrecht.password %></p>
	<% end %>

  <h3>Neues Stimmrecht erzeugen</h3>
  <%= form_for(:stimmrecht, :url => {:controller => 'wahllokal', :action => 'stimmrecht'}, :html => { :class => "ink-form"} ) do |f| %>

  <div class="actions"><%= f.submit %></div>
<% end %>
