<div class="ink-grid vspace">
        
	<h1>Knapp im Jahr <%= @wahl %></h1>

<!--<h4>Knappste Gewinner</h4>
<%= debug @knappe_gewinner %>-->
	<div class="column-group gutters">
		<div class="large-40 medium-40 small-40">

			<h4>Knappste Verlierer</h4>
			<table class="ink-table bordered alternating hover">
                <tr>
                  <th>Wahlkreis</th>
                  <th>Name</th>
                  <th>Partei</th>
                  <th>Abstand</th>

                </tr>
                <% @knappe_verlierer.each do |row| %>
                <tr>
                  <td><%= row[0] %></td>
                  <td><%= row[1] %></td>
                  <td><%= row[2] %></td>
                  <td><%= row[3] %></td>


                </tr>
                <% end %>
              </table>
        </div>

            <div class="large-20 medium-20 small-20">
            </div>
 		


		<div class="large-40 medium-40 small-40">
			<h4>Knappste Gewinner</h4>
              <table class="ink-table bordered alternating hover">
                <tr>
                  <th>Wahlkreis</th>
                  <th>Name</th>
                  <th>Partei</th>
                  <th>Vorsprung</th>

                </tr>
                <% @knappe_gewinner.each do |row| %>
                <tr>
                  <td><%= row[0] %></td>
                  <td><%= row[1] %></td>
                  <td><%= row[2] %></td>
                  <td><%= row[3] %></td>


                </tr>
                <% end %>
              </table>
        </div>
    </div>
</div>
</div>

