<div class="ink-grid vspace">
<h1>Überhangmandate bei der Wahl <%= @wahl %></h1>
<p>Berechnet mit dem Wahlverfahren von 2013, bei dem Überhangmandate parteiintern mit anderen Landeslisten ausgegleichen werden.</p>
<div class="column-group">


<div class="large-100 medium-100 small-100">
              <table class="ink-table bordered alternating hover">
                <tr>
                  <th>Bundesland</th>
             	  <th>Anzahl</th>
                  <th>Partei</th>

                </tr>
                <% @ueberhangmandate.each do |row| %>
                <tr>
                  <td><%= row[1] %></td>
           		  <td><%= row[4] %></td>
                  <td><%= row[3] %></td>


                </tr>
                <% end %>
              </table>
        </div>

   </div>
    </div>