          <div class="column-group">
              <div class="large-100 medium-100 small-100">
                  <h1>Bundestagswahl <%= @jahr %></h1>
                  <p>Sitzverteilung für die Parteien des Bundestages. </p>
                  <%= high_chart("my_id4", @chart) do |c| %>
                    <%= raw "options.tooltip.formatter = function() {return '<b> '+ this.point.name +'</b>: '+ this.y ;}"  %>
                    <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
                <% end %>                        
              </div>

              <div class="large-100 medium-100 small-100">
              <table class="ink-table bordered alternating hover">
                <tr>
                  <th>Partei</th>
                  <th>Anzahl der Sitze</th>
                </tr>
                <% @Verteilung.each do |current_party| %>
                <tr>
                  <td><%= current_party.name %></td>
                  <td><%= current_party.sitze.to_i %></td>
                </tr>
                <% end %>
              </table>
            </div>

          </div>
