      <div class="ink-grid vspace">
          <div class="column-group">
              <div class="large-100 medium-100 small-100">
                  <h1>Übersicht für Wahlkreis <%= @wahlkreis.name %> </h1>
                  <p>&nbsp;</p>

                  <div class="large-50">
                            <h4>2009</h4>

                            <p><strong>Wahlbeteiligung:</strong> <%= (@info09.wahlbeteiligung * 100).round(2)  %> %<br />
                            <strong>Direkter Abgeordneter:</strong> <%= @info09.name  %><br />
                            <strong>Partei:</strong> <%= @partei09.name  %></p>
                          </div>
                          <div class="large-50">
                            <h4>2013</h4>

                            <p><strong>Wahlbeteiligung:</strong> <%= (@info13.wahlbeteiligung * 100).round(2)  %> %<br />
                            <strong>Direkter Abgeordneter:</strong> <%= @info13.name  %><br />
                            <strong>Partei:</strong> <%= @partei13.name  %></p>
                          </div>
                          

                          <p>&nbsp;</p>
                  <div class "large-100">
                    <%= high_chart("my_id4", @chart)  %>
                  </div>

                  <table class="ink-table bordered alternating hover">
                <tr>
                  <th>Partei</th>
                  <th>Anzahl der Stimmen 2009</th>
                  <th>Prozentualer Anteil 2009</th>
                  <th>Anzahl der Stimmen 2013</th>
                  <th>Prozentualer Anteil 2013</th>
                  <th>Veränderung</th>
                </tr>
                <% @wahlergebnis.each_value do |ergebnis| %>
                <tr>
                  <td><%= ergebnis[:partei] %></td>
                  <td><%= ergebnis[:stimmenabs2009] %></td>
                  <td><%= (ergebnis[:stimmenrel2009].to_f * 100).round(2) %> %</td>
                  <td><%= ergebnis[:stimmenabs2013] %></td>
                  <td><%= (ergebnis[:stimmenrel2013].to_f * 100).round(2) %> %</td>
                  <td><%= ((ergebnis[:stimmenrel2013].to_f - ergebnis[:stimmenrel2009].to_f ) * 100).round(2) %> %</td>
                </tr>
                <% end %>
              </table>
          </p>


          

              </div>
          </div>
      </div>
