<h1>Stimmzettel</h1>
<p>Sie haben zwei Stimmen</p>

  <%= form_for(:vote, :url => {:controller => 'vote', :action => 'create'}, :html => { :class => "ink-form"} ) do |f| %>
 
    <div class="column-group">

	<div class="large-40 medium-40 small-40">
	<h4>Erststimme</h4>
	  <table class="ink-table bordered alternating hover">
	    <tr>
	      <th></th>
	      <th>Partei</th>
	      <th>Kandidat</th>
	    </tr>

	    <% @erst_kandidaturs.each do |row| %>
	    <tr>
	      <td><%= radio_button_tag(:erststimme, row[0] ) %></td>
	      <td><%= row[2] %></td>
	      <td><%= row[1] %></td>
	    </tr>
	    <% end %>

	  </table>
	</div>

	<div class="large-10 medium-10 small-10">
			&nbsp;
	</div>

	<div class="large-30 medium-30 small-30">
	<h4>Zweitstimme</h4>
	  <table class="ink-table bordered alternating hover">
	    <tr>
	      <th></th>
	      <th>Partei</th>
	    </tr>

	    <% @zweit_kandidaturs.each do |row| %>
	    <tr>
	      <td><%= radio_button_tag(:zweitstimme, row[0] ) %></td>
	      <td><%= row[1] %></td>
	    </tr>
	    <% end %>

	  </table>
	</div>

</div>
<hr/>
<div class="large-50 push-center">
  <div class="field">
    Einmalpasswort eintragen:<br>
    <%= f.text_field :password %>
  </div>

  <p>&nbsp;</p>

  <div class="actions"><%= f.submit %></div>
	</div>

 <% end %>
