<h1>Computer im Wahllokal anmelden</h1>

<%= form_tag sessions_path, :class => "ink-form" do %>
  <p>
    <%= label_tag :id %><br />
    <%= text_field_tag :id %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>

<ul class="control unstyled">
    <li>
	<%= radio_button_tag(:manager, "false", true) %>
	<%= label_tag(:manager_false, "Wahlcomputer anmelden") %>
    </li>
    <li>

	<%= radio_button_tag(:manager, "true") %>
	<%= label_tag(:manager_true, "Managerinterface öffnen") %>
    </li>
</ul>

  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>
